{% extends "_layouts/default.njk" %}

{% block body %}
  <div class="content">
  <strong>Agendamento horário</strong>
  <div class="provider">
    <div>
      <img src="/files/{{provider.avatar}}" />
      <strong>{{provider.name}}</strong>
    </div>
  </div>

  <form action="/app/appointments/new/{{provider.id}}" method='post'>

    <input type="text" class="flatpickr" placeholder='escolha uma data'>

    <div id="hours">
    <label>
      <input type="radio" />
      12:06
    </label>
    <label>
      <input type="radio" />
      14:05
    </label>
    <label>
      <input type="radio" />
      03:33
    </label>
    <label>
      <input type="radio" />
      05:26
    </label>
  </div>

    <button type="submit">Agendar</button>

  </form>


  </div>

  <script type="text/javascript">
    flatpickr(
      '.flatpickr', {
        minDate:new Date(),
        dateFormat : 'd/m/Y',
        onChange: function(date){
          fetch(`/app/avaiable/{{provider.id}}?date=${date[0].getTime()}`)
        }
      }
    )
  </script>
{% endblock %}
