{% for hour in available %}

    <label for="time-{{hour.time}}" class="{%if hour.available === false %}disabled{% endif %}">
    {%if hour.available === true %}
      <input type="radio" name='date' value='{{hour.value}}' id="time-{{hour.time}}" />
    {% endif %}
      {{hour.time}}
    </label>


{% endfor %}
