{% for message in flashSuccess %}
  <div class="alert alert-success">{{message}} </div>
{% endfor %}

{% for message in flashError %}
  <div class="alert alert-danger">{{message}} </div>
{% endfor %}
